body {
  font-family: "Trebuchet MS";
  background-color: #234;
  color: #1bb;
}

a {
  text-decoration: none;
  color: #faf;
}

a:hover {
  text-decoration: underline;
  color: #fad;
}

.done {
  color: #CCCCCC;
}
