body {
  margin: 0px;
  color: #1bb;
  background-color: #234;
  font-family: "Trebuchet MS";
}

#header {
  overflow: hidden;
  background-color: #afa;
  margin-bottom: .5em;
  border-bottom: .5em solid green;
}

#header h1 {
  position: relative;
  top: .4em;
  margin: 0px;
  font-size: 4em;
  color: green;
}

a {
  text-decoration: none;
  color: #faf;
}

a:hover {
  text-decoration: underline;
  color: #fad;
}

#todos {
  width: 45%;
  position: absolute;
  padding: 0px;
  margin-left: 1%;
}

#todos li.done {
  font-size: .7em;
}

#todos li.done abbr.date, #todos li.done span.content {
  color: #CCCCCC;
}

#todos li {
  list-style: none;
  margin-bottom: .5em;
}

#todos abbr.date {
  text-decoration: none;
  border: none;
  color: #FF4;
} 

#todos span.content {
  display: block;
  font-size: 1.5em;
}

#new_todo {
  width: 220px;
  padding-left: 50%;
}

#new_todo div.focused label {
  color: #aaf;
}

#new_todo div.focused textarea, #new_todo div.focused input[type=text] {
  background-color: #aaf;
}

#new_todo label {
  display: block;
  font-size: 1.2em;
  width: 80%;
  position: relative;
  top: .40em;
  color: green;
}

#new_todo textarea, #new_todo input[type=text] {
  border: none;
  color: #FFF;
  background-color: green;
  padding: 1em;
  margin: 0px;
  width: 400px;
}

#new_todo textarea:focus, #new_todo input[type=text]:focus {
  background-color: green;
}

#new_todo input[type=submit] {
  margin-top: 1em;
}
