{% for todo in todos %}
<li id="{{ todo.key }}" {% if todo.done %}class="done"{% endif %}>
  <span class="content">{{ todo.content }}</span>
  <abbr class="date" title="{{ todo.date_added|date:"Y-m-d\TH:i\Z+00:00" }}">{{ todo.date_added }}</abbr>
  <span>{{ todo.human_tags }}</span>
  <input type="checkbox" value="{{ todo.key }}" id="todo-{{ todo.key }}" {% if todo.date_done %} checked {% endif %}/><label for="todo-{{ todo.key }}">done</label>
  <a href="/todos/{{ todo.key }}">show</a>
</li>
{% endfor %}
